{% extends 'layout.html' %}

{% block title %}Welcome!!!{% endblock %}

{% block style %}
    body {
      background-color: skyblue;
      color: white;
    }
    a {
      color: white;
    }
{% endblock %}

{% block content %}
        <h3>
          {% if 'Weasley' in name %}
              <img src="http://dag.ninja/img/weas.jpeg">
          {% elif 'Zoid' in name %}
              <img src="https://vignette.wikia.nocookie.net/uncyclopedia/images/1/17/Zoidberg.png">
          {% elif 'Synnøve' in name %}
              <img src="http://www.synnove.no/assets/img/logo.png">
          {% elif 'Dag' in name %}
              <img src="http://filmfront.no/filer/Paal/TV/Dag/dag_s04_05.jpg">
          {% else %}
              <img src="http://dag.ninja/img/success.jpeg">
          {% endif %}
          <br>Welcome {{method}}-authorized-person!
        </h3>
        <ul>
          <li><b>Name: </b>{{ name }}
          <li><b>National ID: </b>{{ bday }}
          <li><b>SUB: </b>{{ sub }}
        </ul>
        <br><br>
        <a href="https://sign.dag.ninja" class="btn btn-warning" role="button"><i class="fa fa-undo"></i> Go again!</a>
{% endblock %}
