{% extends 'layout.html' %}

{% block title %}Who???{% endblock %}

{% block style %}
    body {
      background-color: darkolivegreen;
      color: white;
    }
    a {
      color: white;
    }
{% endblock %}

{% block content %}
        <img src="https://dag.ninja/img/intro.jpeg">
        <br>
        <h3>Who are you..?</h3>
        <br>
        {% if url_oidc is defined %}
          <a href="{{ url_oidc }}" class="btn btn-success" role="button"><i class="fa fa-sign-in-alt"></i> Log In! (OIDC)</a>
        {% else %}
          <a href="{{ url_saml2 }}" class="btn btn-success" role="button"><i class="fa fa-sign-in-alt"></i> Log In! (SAML2)</a>
        {% endif %}
{% endblock %}
